<!-- The contents of this card link to the department page using the department ID -->
<a href="/api/employees/{{employee.id}}">
  <!-- The card contains the employee image -->
  <img src="/assets/employee_images/{{employee.id}}.png" alt="{{employee.first_name}} {{employee.last_name}}">
  <header class="card-title">{{employee.first_name}} {{employee.last_name}}</header>
  {{!-- <p>{{employee.role_id}}</p> --}}
</a>