<!-- The contents of this card links to the department page using the department ID -->
<a href="/api/employees/{{id}}">
  <!-- The card contains the department name as the card header -->
  <img src="/assets/employee_images/{{id}}.png" alt=" {{employee.first_name}} {{employee.last_name}}">
  <header class="card-title"> {{employee.first_name}} {{employee.last_name}}</header>
</a>