<!-- The contents of this card links to the role page using the role ID -->
<a href="/api/role/{{id}}">
  <!-- The card contains the role title  as the card header -->
  <header>{{role.title}}</header>
  <!--- <img src="/assets/department_icons/{{id}}.svg" alt="{{department_name}}"> --->
  <p>{{role.salary}}</p>

  <p>{{role.department_id }}</p>

</a>