{{> CSS }}
<div class="row window d-flex">
  {{!-- controls --}}
  <container class="col-3" id="dashboard-controls">
    <div class="row">
      <img src="/assets/logos/vertical_logo.svg" alt="logo" class="logo" id="vertical-logo">
    </div>
    <div class="row dashboard-menu">
      <ul>
        <li class="dashboard_menu_item">
          <a href="/dashboard">
              <img src="/assets/controls_icons/Dashboard_Icon_Inactive.svg" alt="controls icon">
              Dashboard 
          </a>
         </li>
         <li class="dashboard_menu_item">
          <a href="/api/employees">
            <img src="/assets/controls_icons/Employee_Icon_Active.svg" alt="employees icon">
           <span id="active-label">Employees</span>
            </a>
        </li>
        <li class="dashboard_menu_item">
          <a href="/api/departments">
            <img src="/assets/controls_icons/Departments_Icon_Inactive.svg" alt="departments icon">
            Departments
          </a>
        </li>
        <li class="dashboard_menu_item">
          <a  href="/api/roles">
            <img src="/assets/controls_icons/roles_icon.svg" alt="roles icon">
            <span>Roles</span>
          </a>
        </li>
      </ul>
    </div>
  </container>
  {{!-- display --}}
  <container class="col-9" id="dashboard-display">
    {{!-- nav bar --}}
    <nav class="row nav-bar">
      <div class="col-10">
       
      </div>
      <div class="col-2 acct-controls">
       <img src="/assets/controls_icons/logout_icon.svg" alt="logout icon" id="logout">
      </div>
    </nav>
    <h1 class="display-label">Employees</h1>


<section class="card-container">
{{#each employees as |employee|}}
    <div class="card">
       <img src="/assets/employee_images/{{employee.id}}.png" alt="{{employee.first_name}} {{employee.last_name}}">
  <header class="card-title">{{employee.first_name}} {{employee.last_name}}</header>
  <p>{{employee.role_id}}</p>
    </div>
  {{/each}}
  
</section>
  </container>
</div>

<script src="/js/logout.js"></script>